/* desktop-screen-root */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1440px;
height: 900px;
min-height: 900px;

background: #F3F4F6;
border: 4px solid #000000;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* desktop-sidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 16px;
gap: 32px;

width: 260px;
height: 900px;

background: #111827;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* logo-container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 228px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* brand-mark */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 36px;
height: 36px;

background: #F59E0B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-sun */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sun */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #111827;


/* brand-texts */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 118px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* HIIEKO */

width: 65px;
height: 23px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Site Management System */

width: 118px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #F59E0B;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-list */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 228px;
height: 242px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* nav-item-0 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 228px;
height: 42px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* icon-layout */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* layout */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #9CA3AF;


/* Tablou General */

width: 100px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-item-1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 228px;
height: 42px;

background: #F59E0B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* icon-check-square */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check-square */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #111827;


/* Sarcinile Mele */

width: 93px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-item-2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 228px;
height: 42px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* icon-file-text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* file-text */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #9CA3AF;


/* Rapoarte */

width: 61px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-item-3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 228px;
height: 42px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* icon-users */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* users */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #9CA3AF;


/* Echipa */

width: 45px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-item-4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 228px;
height: 42px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* icon-settings */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* settings */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.68%;
right: 12.68%;
top: 8.41%;
bottom: 8.41%;

border: 2px solid #9CA3AF;


/* Setări */

width: 40px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bottom-spacer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 100px;
height: 436px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* user-block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 228px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* user-avatar */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #FEF3C7;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* AM */

width: 25px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
/* identical to box height */

color: #D97706;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* user-text-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 84px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Andrei Mihai */

width: 84px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #F9FAFB;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Team Lead B */

width: 69px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #9CA3AF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* desktop-main */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1180px;
height: 900px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* desktop-header-bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 32px;

width: 1180px;
height: 72px;

background: #FFFFFF;
border-bottom: 1px solid #E5E7EB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* header-project-selector */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 438px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* project-pill-desktop */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 14px;
gap: 8px;

width: 244px;
height: 33px;

background: #F3F4F6;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-sun */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sun */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #F59E0B;


/* Parcul Solar Brăila — Faza 2 */

width: 170px;
height: 17px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-chevron-down */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* chevron-down */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 2px solid #4B5563;


/* Zona de Lucru: Est EPC BESS */

width: 182px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* header-right-tools */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 169px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* weather-telemetry */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 97px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-sun */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sun */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #F59E0B;


/* 32°C Însorit */

width: 75px;
height: 17px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line */

box-sizing: border-box;

width: 24px;
height: 0px;

border: 1px solid #E5E7EB;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* notification-center-trigger */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon-bell */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bell */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #111827;


/* desktop-workspace */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 24px;

width: 1180px;
height: 828px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* page-title-strip */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 1116px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* greet-texts */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 414px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* My Day — Spațiu de Lucru */

width: 336px;
height: 36px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Marți, 30 Septembrie 2026 | Activități înregistrate pe site-ul Brăila */

width: 414px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* desktop-cols-grid */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1116px;
height: 589px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* summary-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 300px;
height: 388px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* PREZENȚĂ & STATISTICI */

width: 141px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* attendance-card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 300px;
height: 186px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* status-info-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 268px;
height: 94px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* check-in-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 136px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* indicator-dot */

width: 10px;
height: 10px;

background: #10B981;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* PONTAT PREZENT */

width: 118px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* attendance-details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 268px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* detail-row-time */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 159px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-clock */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clock */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Ora check-in: 06:47 AM */

width: 139px;
height: 17px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* detail-row-loc */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 211px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-map-pin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map-pin */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Locație: Zona B3 — String 14-18 */

width: 191px;
height: 17px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* gps-indicator */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 170px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon-rss */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* rss */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #10B981;


/* GPS ACTIV (Semnal Excelent) */

width: 152px;
height: 14px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 14px;

color: #10B981;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* checkout-btn */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 268px;
height: 44px;
min-height: 44px;

background: #FEE2E2;
border: 1px solid #EF4444;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* icon-log-out */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* log-out */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #EF4444;


/* Check Out */

width: 68px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #EF4444;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* stats-panel */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 300px;
height: 138px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Progresul tău astăzi */

width: 132px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* stat-bar-1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 268px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* stat-bar-label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 268px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Sarcini Finalizate */

width: 92px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 1 / 4 */

width: 26px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* progress-bar-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 268px;
height: 6px;

background: #F3F4F6;
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* progress-fill */

width: 67px;
height: 6px;

background: #10B981;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* stat-bar-2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 268px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* stat-bar-label */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 268px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Panouri de montat astazi */

width: 134px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 24 / 36 */

width: 40px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* progress-bar-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 268px;
height: 6px;

background: #F3F4F6;
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* progress-fill */

width: 177px;
height: 6px;

background: #F59E0B;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* tasks-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 468px;
height: 589px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* SARCINI ACTIVE */

width: 97px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 468px;
height: 113px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* status-bar */

width: 6px;
height: 113px;

background: #F59E0B;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* task-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

width: 462px;
height: 113px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* checkbox-trigger */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 28px;
height: 28px;

background: #F3F4F6;
border: 1px solid #E5E7EB;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* empty-box */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-texts-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 316px;
height: 81px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* task-title-and-badge */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 8px;

width: 260px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Montaj panouri — String 16 */

width: 190px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 8px;

width: 62px;
height: 17px;

background: #FEF3C7;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ÎN LUCRU */

width: 46px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #D97706;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-meta-row */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 12px;

width: 429px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-loc */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 125px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-map-pin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map-pin */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Zona B3 — String 16 */

width: 109px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 292px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-clock */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clock */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Timp estimat: 2.5 ore rămase din tura de dimineață */

width: 276px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* task-details-box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 6px;

width: 316px;
height: 37px;

background: #F3F4F6;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Instalat: 24 din 36 panouri (Progres 66%) */

width: 296px;
height: 17px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* task-actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 62px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* camera-evidence-pill */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 4px;

width: 62px;
height: 30px;

background: #FEF3C7;
border: 1px solid #F59E0B;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-camera */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* camera */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #D97706;


/* FOTO */

width: 28px;
height: 14px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

color: #D97706;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* task-row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 468px;
height: 132px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* status-bar */

width: 6px;
height: 132px;

background: #EF4444;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* task-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

width: 462px;
height: 132px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* checkbox-trigger */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 28px;
height: 28px;

background: #F3F4F6;
border: 1px solid #E5E7EB;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* empty-box */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-texts-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 278px;
height: 98px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* task-title-and-badge */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 8px;

width: 224px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cablare DC — String 14 */

width: 162px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 8px;

width: 54px;
height: 17px;

background: #FEE2E2;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* BLOCAT */

width: 38px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #EF4444;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-meta-row */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 12px;

width: 357px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-loc */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 125px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-map-pin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map-pin */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Zona B3 — String 14 */

width: 109px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 220px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-clock */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clock */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Înregistrat la ora: 08:15 AM de Andrei */

width: 204px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* task-details-box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 6px;

width: 278px;
height: 54px;

background: #FEE2E2;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* icon-alert-triangle */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* alert-triangle */

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.26%;
right: 8.34%;
top: 12.44%;
bottom: 12.5%;

border: 2px solid #EF4444;


/* BLOCAJ: Așteptare materiale — conectori MC4 solicitate de la depozit */

width: 238px;
height: 34px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;

color: #EF4444;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* task-actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 100px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* task-row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 468px;
height: 132px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* status-bar */

width: 6px;
height: 132px;

background: #E5E7EB;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* task-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

width: 462px;
height: 132px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* checkbox-trigger */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 28px;
height: 28px;

background: #F3F4F6;
border: 1px solid #E5E7EB;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* empty-box */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-texts-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 278px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* task-title-and-badge */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 8px;

width: 290px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Inspecție vizuală — String 15 */

width: 204px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 8px;

width: 78px;
height: 17px;

background: #F3F4F6;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* PROGRAMAT */

width: 62px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-meta-row */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 12px;

width: 316px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-loc */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 125px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-map-pin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map-pin */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Zona B3 — String 15 */

width: 109px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-extra */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 179px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-clock */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* clock */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Programat astazi la ora: 14:00 */

width: 163px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* task-actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 100px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* task-row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 468px;
height: 132px;

background: #FFFFFF;
opacity: 0.75;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* status-bar */

width: 6px;
height: 132px;

background: #10B981;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* task-content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

width: 462px;
height: 132px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* checkbox-trigger */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 28px;
height: 28px;

background: #10B981;
border: 1px solid #10B981;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-check */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 25%;
bottom: 29.17%;

border: 2px solid #FFFFFF;


/* task-texts-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 278px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* task-title-and-badge */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 8px;

width: 292px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Verificare structuri — String 16 */

width: 216px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
/* identical to box height */
text-decoration-line: line-through;

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-badge */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 8px;

width: 68px;
height: 17px;

background: #D1FAE5;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* FINALIZAT */

width: 52px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #10B981;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* task-meta-row */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: center;
padding: 0px;
gap: 12px;

width: 125px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* meta-loc */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 125px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-map-pin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* map-pin */

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #4B5563;


/* Zona B3 — String 16 */

width: 109px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Finalizat la 07:32 AM de Andrei Mihai */

width: 190px;
height: 14px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 14px;

color: #10B981;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* task-actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 100px;
height: 100px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* alerts-col */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 300px;
height: 356px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* alerts-group */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 300px;
height: 156px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ACȚIUNI NECESARE */

width: 116px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* action-needed-card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 300px;
height: 58px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* action-icon-bg */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 34px;
height: 34px;

background: #FEF3C7;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-camera */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* camera */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #F59E0B;


/* 2 rapoarte foto necesare */

width: 190px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* count-badge */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 10px;

width: 28px;
height: 24px;

background: #F59E0B;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 2 */

width: 8px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* action-needed-card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 300px;
height: 58px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* action-icon-bg */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 34px;
height: 34px;

background: #DBEAFE;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-file-text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* file-text */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #3B82F6;


/* 1 formular calitate necesar */

width: 190px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* count-badge */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 10px;

width: 28px;
height: 24px;

background: #3B82F6;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 1 */

width: 8px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* team-feed */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 16px;

width: 300px;
height: 176px;

background: #FFFFFF;
border: 1px solid #E5E7EB;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Activitate Echipa Montaj */

width: 161px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* feed-item-1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 268px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Ellipse */

width: 8px;
height: 8px;

background: #10B981;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* feed-texts */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 252px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Andrei Mihai */

width: 252px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* A marcat 'Verificare structuri' ca fiind finalizat */

width: 252px;
height: 14px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 07:32 AM */

width: 44px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #9CA3AF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* feed-item-2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 268px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Ellipse */

width: 8px;
height: 8px;

background: #EF4444;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* feed-texts */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 252px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Sistem Automat */

width: 252px;
height: 16px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height */

color: #111827;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Sarcina 'Cablare DC' a fost marcată ca blocată */

width: 252px;
height: 14px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;

color: #4B5563;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 08:15 AM */

width: 44px;
height: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
/* identical to box height */

color: #9CA3AF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
